* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #eef4f7;
}
.heading {
  color: #334155;
  border-bottom: 2px solid #52bbf0;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 600;
  text-align: center;
  width: 130px;
}
.ul-container {
  list-style-type: none;
  padding-left: 0px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
.li-element {
  width: 30%;
  background-color: white;
  margin: 15px;
}

.image {
  width: 100%;
  margin-bottom: 5px;
}
.title-container {
  padding: 10px;
}
.li-title-1 {
  color: #475569;
  font-weight: 700;
  font-size: 20px;
}
.li-title-2 {
  color: #64748b;
  font-weight: 400;
  font-size: 17px;
}

.loader {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
